@keyframes scroll-one {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee_box_one {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  // margin: 3em 0 0 0;

  &:hover {
    .marquee_content_one {
      animation-play-state: paused;
    }
  }
}

.marquee_content_one {
  height: 100%;
  display: flex;
  gap: 40px;
  padding: 0 20px;
  animation: scroll-one 40s linear infinite;
}
