@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    --colorDetailsRed: #b3001b;
    --colorDetailsBlue: #255c99;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    position: absolute;
    z-index: 9;
    background-image: linear-gradient(
        var(--colorDetailsBlue),
        var(--colorDetailsRed)
    );
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
